<!--The content below is only a placeholder and can be replaced.-->
<div>
<h3>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/home">SKILLMAPPER</a>
      </div>

      <div class="nav navbar-nav">

        <li class="active" *ngIf="user">
          <a routerLink="/home">Home</a>

        </li>
        <li class="dropdown" *ngIf="user">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <ng-container *ngIf="user.role=='HR'">
                <a routerLink="/listuser">List User</a>
              </ng-container>
            </li>

            <li>
              <ng-container *ngIf="user.role=='HR'">
                <a routerLink="approve">Approve Profile</a>
              </ng-container>
            </li>

            <li *ngIf="user">
              <ng-container *ngIf="user.role=='EMPLOYEE'">
                <a routerLink="viewprofile/{{user.emailID}}">View Profile</a>
              </ng-container>
            </li>

            <li *ngIf="user">
              <ng-container *ngIf="user.role=='EMPLOYEE'">
                <a routerLink="updateprofile/{{user.emailID}}">Update Profile</a>
              </ng-container>
            </li> 


            <li *ngIf="user">
             <ng-container *ngIf="user.role=='EMPLOYER'">
              <a routerLink="/search">Search</a>
            </ng-container>
            </li>
          </ul>
        </li>



        <li>
          <a routerLink="mentor">Mentors</a>
        </li>

      </div>
      <ul class="nav navbar-nav navbar-right">

        <li *ngIf="user">
          <p class="text-right text-primary"> Welcome {{user.firstName}}</p>
        </li>
        <li *ngIf="!user">
          <a routerLink="/register">
            <span class="glyphicon glyphicon-user"></span> Sign Up</a>
        </li>
        <li *ngIf="!user">
          <a routerLink="/login">
            <span class="glyphicon glyphicon-log-in"></span> Login</a>
        </li>
        <li *ngIf="user">
          <a>
            <span class="glyphicon glyphicon-log-out" (click)=logout()></span> Logout</a>
        </li>
      </ul>
    </div>

  </nav>


  <div *ngIf="user">
    <div class="media">
      <div class="media-left">
        {{user.imageName}}
        <!-- <img src="domSanitizer.bypassSecurityTrustUrl('data:image/jpeg;base64,{binary {{image}}}')" /> -->
        <!-- <img src="unsafe:data:image/jpeg;base64,{binary '{{image}}'}" id="photo-id"/> -->
        <div *ngIf="user.imageName===null">
            <img src="../assets/images/noimage.png" class="media-object img-rounded" style="width:150px;height:150px;">
        </div>
       <!--  <ng-template *ngIf="user.imageName!==null; else noImageFound">  -->
         <div *ngIf="user.imageName!=null">
        <img [src]="user.profilepic"
      alt="Profile Image" *ngIf="!isImageLoading; else noImageFound" class="media-object img-rounded" style="width:150px;height:150px;">
         </div>
      <!-- <ng-template #noImageFound>
        <img src="../assets/images/noimage.png" class="media-object img-rounded" style="width:150px;height:150px;">
      </ng-template> -->
      
      </div>
      <div class="media-body">
        <h1 class="media-heading">{{user.firstName}} {{user.lastName}}</h1>
        <p>
          <i>
            <h4>{{user.role}}</h4>
          </i>
        </p>
      </div>
    </div>
  </div>
  <hr>
  <router-outlet></router-outlet>
